#container {
    border-style:solid;
    border-width: 4px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: center;
}
.newDiv {

    flex: 1 0 auto;
    border: 0px;
}
#getWidth {
    padding: 30px;
}
h1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
body {
    background-color:lightgray;
    margin: 0;
}
#footer {
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 30px;
    margin: 100px 0 0 0;
}